.landing_page {
  width: 100%;
  height: 100vh;
  background-color: rgba(73, 70, 70, 0.904);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  .landing_page_content {
    padding-top: 120px;

    /* align-content: center; */
  }

  .main_title {
    font-size: 26px;
    text-align: center;
  }
  .sub_title {
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    text-transform: capitalize;
  }

  .flexBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .btn_landing {
    width: 120px;
    height: 40px;
    margin-top: 50px;
  }
}

.list_container {
  margin: 80px 50px;
  .main_header {
    .title {
      text-align: center;
      font-size: 40px;
      font-weight: 400;
      padding-bottom: 20px;
    }
  }
  .main_body {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 235px);
    justify-content: center;
    grid-row: auto;
    grid-gap: 40px;
    // grid-column: 1fr;
    // display: inline-grid;
  }
}
