.cart_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid red;
  width: 800px;
  flex-basis: 800px;
  margin-bottom: 25px;
  padding: 25px;
}

.item_img img {
  width: 100px;
}

.item_title {
  font: 25px;
}
